packages/*
!packages/repositories.config
*BuiltFiles_QA*
*.orig
*.icon
*.svn*
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.dll
*[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*/IconCache/*
*.svn*
*/packages/*
**/ViewStart.cshtml

#### Front End ####
node_modules
.tmp
.tmp.html
.idea/
.sass-cache
.CopySauce.json

Website/
.vs/config/applicationhost.config
/node_modules
/.vs
/scripts
/gulp-config.js
/gulpfile.js
/package.json
