<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>

      <!-- This is the item where the rules are placed -->
      <setting name="EnhanceTheEditorExperience.RulesItem.Id" value="{55F26A63-D476-498F-817B-2FCDE203DB8A}" />
      <setting name="EnhanceTheEditorExperience.VirtualSection.RulesItem.Id" value="{662D49FE-9CF9-41FD-87D6-51DBA711E6E9}" />
      <setting name="EnhanceTheEditorExperience.Database.Preferred" value="master"/>
      <setting name="EnhanceTheEditorExperience.ShowOriginalFieldToAdmins" value="true" />

      <!-- Define where you want to place the XML files to map to -->
      <setting name="EnhanceTheEditorExperience.FileMapping.Directory" value="/sitecore modules/Shell/Editor Enhancement Toolkit/Mappings/"/>
      <setting name="EnhanceTheEditorExperience.VirtualSection.FileMapping.Directory" value="/sitecore modules/Shell/Editor Enhancement Toolkit/VirtualSectionMappings/"/>
    </settings>
    <editorEnhancedToolkit>
      <contentEditorRulesProcessor type="EditorEnhancementToolkit.Foundation.ContentEditor.Rules.ContentEditorRulesProcessor,EditorEnhancementToolkit.Foundation.ContentEditor" />
      <virtualSection type="EditorEnhancementToolkit.Foundation.ContentEditor.VirtualSectionMapping.VirtualSection,EditorEnhancementToolkit.Foundation.ContentEditor"/>
      <xmlMapItem type="EditorEnhancementToolkit.Foundation.ContentEditor.FileMappings.XmlMapItem,EditorEnhancementToolkit.Foundation.ContentEditor"/>
    </editorEnhancedToolkit>
    <pipelines>
      <renderContentEditor>
        <processor
           patch:instead="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.RenderContentEditor.RenderStandardContentEditor, Sitecore.Client']"
           type="EditorEnhancementToolkit.Foundation.ContentEditor.Pipelines.RenderContentEditor.RenderCustomizedContentEditor, EditorEnhancementToolkit.Foundation.ContentEditor" />
      </renderContentEditor>
      <getChromeData>
        <processor
           patch:after="processor[@type='Sitecore.ExperienceEditor.Pipelines.GetChromeData.InitializeChromeFieldDisplayName, Sitecore.ExperienceEditor']"
           type="EditorEnhancementToolkit.Foundation.ContentEditor.Pipelines.GetChromeData.InitializeChromeCustomFieldDisplayName, EditorEnhancementToolkit.Foundation.ContentEditor" />
      </getChromeData>
      <getContentEditorFields>
        <processor
          patch:instead="processor[@type='Sitecore.Shell.Applications.ContentEditor.Pipelines.GetContentEditorFields.GetFields, Sitecore.Client']"
          type="EditorEnhancementToolkit.Foundation.ContentEditor.Pipelines.GetContentEditorFields.GetFields, EditorEnhancementToolkit.Foundation.ContentEditor" />
      </getContentEditorFields>
    </pipelines>
  </sitecore>
</configuration>